* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dadada;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    color: #ffffff;
}

.headercontainer {
    margin: 8px 16px;
    display: flex;
    flex-direction: column;
}
.headercontainer * {
    margin: 0;
    padding: 0;
}

.nav {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
}
.nav a {
    padding: 4px 24px;
    text-decoration: none;
    color: #676767;
    font: 600 16px/1.2 sans-serif;
}
.nav a:hover {
    color: #ffffff;
}


.content {
    margin: 24px 25%;
}
.content a {
    color: #2d2dd2;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.content a:visited {
    color: #551177;
}

.gallery {
    display: flex;
    overflow-x: scroll;
}
.gallery * {
    margin: 0 16px;
    font-size: 14px;
}

h1 {
    font: 600 32px/1.2 sans-serif;
    padding: 16px 0px;
}

p {
    font: 400 18px/1.2 sans-serif;
    padding: 8px 0px;
}


@media screen and (max-width: 1500px) {
    .content {
        margin: 24px 20%;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        margin: 24px 17.5%;
    }
}

@media screen and (max-width: 500px) {
    .content {
        margin: 24px 12.5%;
    }
}